<h1 class="animated fast fadeIn">{{ heroe.nombre | uppercase }} <small>({{ heroe.aparicion | date:'y' }})</small></h1>
<hr>

<div class="row animated fadeIn">
    <div class="col-md-4">
        <img [src]="heroe.img" [alt]="heroe.nombre" class="img-fluid">
        <br><br>
        <a [routerLink]="['/heroes']" class="btn btn-outline-secondary btn-block">Volver</a>
    </div>

    <div class="col-md-8">
        <h3>{{ heroe.nombre }}</h3>
        <hr>
        <p>{{ heroe.bio }}</p>
        <div><img src="assets/img/marvel-logo.jpg" alt="Marvel logo" *ngIf="heroe.casa==='Marvel'"></div>
        <div><img src="assets/img/dc-logo.png" alt="DC logo" *ngIf="heroe.casa==='DC'"></div>
    </div>
</div>